*{
    text-align: center;
    font-family: monospace;
    letter-spacing: normal;
}
a{
    text-decoration: none;
    color: rgb(217, 0, 255);
}
a:hover{
    text-decoration: underline;
    color: rgb(173, 0, 204);
}